{
  "extends": [ "axway/env-node"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"]
  },
  "overrides": [
    {
      "files": [ "test/**/*.test.js" ],
      "extends": [ "axway/env-node", "axway/+mocha"]
    }
  ]
}
